<nav class="main-nav">
  <div class="main-nav__item main-nav__item_offers js-main-nav__item">
    <a  href="/offers.html">Услуги</a>
  </div>

  <div class="main-nav__item main-nav__item_projects js-main-nav__item">
    <a href="/projects.html">Проекты</a>
  </div>

  <div class="main-nav__item main-nav__item_products js-main-nav__item">
    <a href="/products.html">Продукты</a>
  </div>
</nav>
