<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ head_meta_description }}">
    <meta name="theme-color" content="#473737">

    <meta property="og:title" content="{{ head_title }}" />
    <meta property="og:description" content="{{ head_meta_description }}" />
    <meta property="og:image" content="https://computerization.dev/assets/og-image.png" />


    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/assets/pwa-manifest.json"> 

    {% block head %}
    {% endblock %}

    <title>{{ head_title }}</title>
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
