.about {
  font-size: 14px;
  margin: 1.5em 0;
  padding: 0;
  margin-bottom: 0.5em;
  max-width: 30em;
  text-align: justify;
  color: rgba(255, 255, 255, .75);
}

@media (min-width: 800px) {

  .about { font-size: 20px; margin: 0; line-height: 27px; }
}
